/*
Roxanne Ysabel Resuello
February 18 2023 9:30AM

An external CSS for the GitHub page
*/

/*
Roxanne Ysabel Resuello
February 18 2023 8:30AM

An external CSS for the GitHub page
*/

#photo {
    float: left;
    border-radius: 20px;
}

.tagline{
    font-size: xx-large;
    font-family: monospace;
    color: #624b47; 
    font-weight: 550;
    text-shadow: 1px 1px #9e8985;

}

#about {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 50px;

}

body {
    background-color: #efe8e6;
    padding: 60px;
}